.card {
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  text-align: center;
  flex: 1;
  transition: all 0.3s;
  background: #fff;
  color: #333;
}
.selected {
  background: #f6d365;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.icon {
  font-size: 1.5rem;
}
