.topic {
  min-height: 120px;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #333;
  position: relative;
  overflow: visible;
}
